<h1>Your Cart</h1>

<% @carted_products.each do |item| %>
<h2>Product: <%= item.product.name %></h2>
<h2>Quantity: <%= item.quantity %></h2>
<h4>Remove: <%= link_to "Remove Item", "/carts/#{item.id}", method: :delete %>
<% end %>


<%= form_tag '/orders', method: :post do %>
	<%= submit_tag "Order!" %>
<% end %>
