<h1>These are all the products we have on file</h1>

<% @products.each do |product| %>

	<!-- Interpolation method of doing this <a href="/products/<%= product.id %>"><%=product.name%></a> -->
 <h2><%= link_to product.name, "/products/#{product.id}" %></h2>
<h4><%=product.price%></h4>
	<h4><%=product.description%></h4>
	<img src="<%=product.image%>">
		<h4><%= link_to "Edit", "/products/#{product.id}/edit"%></h4>
		<h4><%= link_to "Destroy", "/products/#{product.id}", method: :delete, data:{confirm: "Are you sure you want to delete this item?"} %></h4>

<hr>
<% end %>