<h1><%=@product.name%></h1>

<h3><%= @product.sale_method %></h3>
<h4><%=@product.description%></h4>
<br/>
<h5>Price: $<%=@product.price%></h5>
<h5>Tax: <%= @product.tax %></h5>
<h5>Total: <strong><%= @product.total %></strong></h5>
<% @product.images.each do |image| %>
<%= image_tag image.url, class: "img-responsive" %>
<% end %>
<h5><%=  @product.supplier.name%></h5>
 
<hr>
 <%= link_to "Home", "/"%>
 <%= link_to "Edit", "/products/#{@product.id}/edit"%>
 <%= link_to "Destroy", "/products/#{@product.id}", method: :delete, data:{confirm: "Are you sure you want to delete this item?"} %> -->