<h1><%=@product.name%></h1>

<h3><%= @product.sale_method %></h3>
<h4><%=@product.description%></h4>
<br/>
<h5>Price: $<%=@product.price%></h5>
<h5>Tax: <%= @product.tax %></h5>
<h5>Total: <strong><%= @product.total %></strong></h5>
<h5><%=  @product.supplier.name%></h5>
	
<% @product.images.each do |image| %>
	<img src="<%=image.url%>">
<% end %>

<h5>Tags:</h5>
<% @product.categories.each do |category| %>
	<h5><%= link_to category.name.titleize, "/products?category=#{category.name}" %></h5>
<% end %>


<%= form_tag '/carts', method: :post do %>
	<div class="form-group">
		<%= label_tag "Checkout" %>
		<%= text_field_tag :quantity %>
	</div>
	<div class="form-group">
		<%= hidden_field_tag :product_id, @product.id %>
	</div>

	
	<%= submit_tag "Add to cart!" %>
<% end %>

 
<hr>
 <%= link_to "Home", "/"%>
 <%= link_to "Edit", "/products/#{@product.id}/edit"%>
 <%= link_to "Destroy", "/products/#{@product.id}", method: :delete, data:{confirm: "Are you sure you want to delete this item?"} %> -->