<!DOCTYPE html>
<html lang="en">
<head><meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%=@title%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class ="nav">
  <li><a class="active" href="/">Product Page</a></li>
  <li><a href="/products/new">Add a new product</a></li>
  <li><a href="/random">Random product</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">

<%= yield %>

</body>
</html>
